.md code:not(pre code) {
    background-color: var(--highlight-bg);
    font-family: 'Cascadia Mono', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    tab-size: 4;
    text-align: left;
    border-radius: 0.7rem;
    margin-left: 2px;
    margin-right: 2px;
}

.md pre>code {
    background-color: var(--highlight-bg);
    font-family: 'Cascadia Mono', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    padding: 0.6rem 0.6rem 0.6rem 1.2rem;
    width: fit-content !important;
    min-width: 100%;
    transition: color .5s;
    border-radius: 0.5rem;
}

.md pre {
    display: block;
    margin: 1rem 0 1rem 0;
    background: transparent;
    overflow-x: auto;
    tab-size: 4;
}

.md p {
    margin: 0.25rem !important;
}

.md h2 {
    margin-bottom: 1rem;
}

.md h3 {
    margin-bottom: 0.8rem;
}